# Add files here to ignore them from ESLint linting
dist
docs/{app,assets}
docs/.vitepress/cache
!docs/.vitepress/*.{ts,js,cjs,mjs,cts,mts,tsx,jsx}
/out-tsc
patches/packages
coverage
node_modules
.nx/cache
.angular
/v8-compile-cache-0
