main {
  text-align: center;
}

main .form-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

main .form-container form.app-form {
  max-width: 500px;
  min-width: 150px;
  width: 100%;
}

main .form-container form.app-form mat-form-field.form-field {
  width: 100%;
}

main .qrcode {
  align-items: center;
  display: flex;
  justify-content: center;
}

main
  .form-container
  form.app-form
  section
  .width-height
  label.width-height-label {
  margin-right: 5px;
}

main
  .form-container
  form.app-form
  section
  .width-height
  mat-slider
  input.width-height-input {
  margin-left: 5px;
}

main
  .form-container
  form.app-form
  section
  .width-height
  label.width-height-px-label {
  margin-left: 5px;
}

main .form-container form.app-form section * {
  align-items: center;
  display: flex;
  justify-content: center;
}

main .form-container form.app-form section .format-btn p.format-label {
  margin-right: 5px;
}

main
  .form-container
  form.app-form
  section
  .format-btn
  mat-button-toggle-group.format-toggle-btn {
  margin-left: 5px;
}

main mat-checkbox.options-checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
}
