main {
  text-align: center;
}

header.app-header {
  background: #3f51b5;
  overflow-y: auto;
  padding-left: 20px;
}

header.app-header * {
  align-items: center;
  display: flex;
  justify-content: center;
}

header.app-header a {
  text-decoration: none;
}

header.app-header a h1 {
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 20px 8px;
}

header.app-header a mat-icon.qr-icon {
  color: white;
}

main .form-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

main .form-container form.app-form {
  max-width: 500px;
  min-width: 150px;
  width: 100%;
}

main .form-container form.app-form mat-form-field.form-field {
  width: 100%;
}

main .qrcode {
  align-items: center;
  display: flex;
  justify-content: center;
}

main
  .form-container
  form.app-form
  section
  .width-height
  label.width-height-label {
  margin-right: 5px;
}

main
  .form-container
  form.app-form
  section
  .width-height
  mat-slider
  input.width-height-input {
  margin-left: 5px;
}

main
  .form-container
  form.app-form
  section
  .width-height
  label.width-height-px-label {
  margin-left: 5px;
}

main .form-container form.app-form section * {
  align-items: center;
  display: flex;
  justify-content: center;
}

main .form-container form.app-form section .format-btn p.format-label {
  margin-right: 5px;
}

main
  .form-container
  form.app-form
  section
  .format-btn
  mat-button-toggle-group.format-toggle-btn {
  margin-left: 5px;
}

main mat-checkbox.options-checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
}
